### 자주 사용할 모듈 정리

### apply

데이터프레임 조작시 **내가 정의한 함수**에 따라 전체 DF 혹은 특정 Column의 값을 일괄적으로 변경하고 싶을 때가 있다. 

리스트의 경우 **map**함수를 사용했지만 DF에서는 **apply**함수를 사용하면 된다. 

```python
# 칼럼 바꾸기

데이터프레임['칼럼'] = 데이터프레임['칼럼'].apply(함수)
```

많은 경우 인수로 들어갈 함수는 **lambda**를 사용한다. 
def보다 더 간편하게 사용할 수 있기 때문이다. 

```python
lambda 입력변수 : 리턴값 
```

In [1]:
# 예시 

import pandas as pd

df = pd.DataFrame([[1,2],
                   [2,3],
                   [5,6]],
                   columns = ['A','B'])

df

   A  B
0  1  2
1  2  3
2  5  6

In [2]:
df['A'] = df['A'].apply(lambda x : x + 1)
df

   A  B
0  2  2
1  3  3
2  6  6

---

### Map

리스트를 원하는 함수를 일괄 적용할 수 있다. 

map(함수, 리스트명)

이때 함수는 lambda를 사용하면 더 편함.

https://dojang.io/mod/page/view.php?id=2286