In [20]:
import pandas as pd

In [21]:
q1 = pd.DataFrame([['1,000'],['2,000'],['3,000'],['4,000']],
                     columns=['예산'],
                     index=['창원시 A','창원시 B','창원시 C','창원시 D'])

q2 = pd.DataFrame([['1100',],['2200'],['4400'],['3300']],
                     columns=['예산(만원)'],
                     index=['A','B','D','C'])

print(q1)
print('\n')
print(q2)

          예산
창원시 A  1,000
창원시 B  2,000
창원시 C  3,000
창원시 D  4,000


  예산(만원)
A   1100
B   2200
D   4400
C   3300

`-` q1의 '예산'열의 자료형을 float로 바꾸어라!

In [22]:
q1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 창원시 A to 창원시 D
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   예산      4 non-null      object
dtypes: object(1)
memory usage: 64.0+ bytes

`-` 해답

In [23]:
int_y = []
for i in range(len(q1)):
    int_y.append(int(q1.예산.iloc[i][0])*1000)

int_y = list(map(float, int_y))
q1.예산 = int_y
print(q1)

           예산
창원시 A  1000.0
창원시 B  2000.0
창원시 C  3000.0
창원시 D  4000.0

In [24]:
q1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 창원시 A to 창원시 D
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   예산      4 non-null      float64
dtypes: float64(1)
memory usage: 64.0+ bytes

#### `문제` 이 표를 만들어라
    
 |index | 예산 | 예산(만원)|
 | ------ | ------ |-------|
 | A |	1000	|1100|
 | B |	2000	|2200|
 | C |	3000	|3300|
 | D |	4000	|4400|

In [25]:
print(q1, '\n', q2)

           예산
창원시 A  1000.0
창원시 B  2000.0
창원시 C  3000.0
창원시 D  4000.0
   예산(만원)
A   1100
B   2200
D   4400
C   3300

In [36]:
a = ['A','B','C','D']
q1.index = a
q2 = q2.sort_values(by=['예산(만원)'], axis=0)

result = pd.concat([q1,q2], axis=1)
result

       예산 예산(만원)
A  1000.0   1100
B  2000.0   2200
C  3000.0   3300
D  4000.0   4400

### 해답

In [ ]:
q1_data = pd.DataFrame([['1,000'],['2,000'],['3,000'],['4,000']],
                     columns=['예산'],
                     index=['창원시 A','창원시 B','창원시 C','창원시 D'])

q1_data

          예산
창원시 A  1,000
창원시 B  2,000
창원시 C  3,000
창원시 D  4,000

In [ ]:
q2_data = pd.DataFrame([['1100',],['2200'],['4400'],['3300']],
                     columns=['예산(만원)'],
                     index=['A','B','D','C'])

q2_data

  예산(만원)
A   1100
B   2200
D   4400
C   3300

In [ ]:
q1_data['예산'] = q1_data['예산'].apply(lambda x : x.replace(".",""))
q1_data['예산'] = q1_data['예산'].astype(int)


q1_data.info()  #또는 float

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 창원시 A to 창원시 D
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   예산      4 non-null      int32
dtypes: int32(1)
memory usage: 48.0+ bytes

In [ ]:
q1_data = q1_data.reset_index()
q2_data = q2_data.reset_index()

for i in range(len(q1_data)):
    q1_data['index'].iloc[i] = q1_data['index'].iloc[i].split()[1]

df1 =pd.merge(q1_data,q2_data,on='index')
df2 =df1.set_index('index')

df2

C:\Users\a\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

         예산 예산(만원)
index
A      1000   1100
B      2000   2200
C      3000   3300
D      4000   4400

# 2

- 문제1

In [ ]:
q1_data = pd.DataFrame({'예산':[1000,2000,3000,4000,np.nan],
                       '추가예산':[1100,np.nan,4400,3300,5500]},
                     index=['창원시 A','창원시 B','창원시 C','창원시 D','창원시 E'])

q1_data

           예산    추가예산
창원시 A  1000.0  1100.0
창원시 B  2000.0     NaN
창원시 C  3000.0  4400.0
창원시 D  4000.0  3300.0
창원시 E     NaN  5500.0

In [ ]:
#결측치가 있는 행만 뽑아주세요.

df3

           예산    추가예산
창원시 B  2000.0     NaN
창원시 E     NaN  5500.0

In [ ]:
#q1 답
df3 = q1_data[(q1_data['예산'].isnull()) | (q1_data['추가예산'].isnull())]



#이런방식도 있네요
q1_data[q1_data.isnull().any(1)]

- 문제2

In [ ]:
df5 = pd.read_csv('train.csv') #타이타닉 데이터

In [ ]:
#Embarked 데이터 비율을 아래와 같거나 유사하게 구해주세요


df6

S    0.724409
C    0.188976
Q    0.086614
Name: Embarked, dtype: float64

In [ ]:
#q2답
df6 =df5.Embarked.value_counts()/(len(df5) - df5.Embarked.isna().sum())